# Порт, на котором будет работать сервис
SERVER_PORT=8080

# Хост базы данных
POSTGRES_HOST=localhost

# Порт базы данных
POSTGRES_PORT=5432

# Имя базы данных
POSTGRES_DB=postgres

# Имя пользователя базы данных
POSTGRES_USER=postgres

# Пароль базы данных
POSTGRES_PASSWORD=postgres
